  {% extends 'base.html' %}
 {% load static %}
 {% block title%}Blog{% endblock %}
   {% block content %}
          
           <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">FEATURED VEHICLES</h1>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="blog_img"><img src="{% static 'images/img-4.png' %}"></div>
                     <div class="btn_main">
                        <div class="date_text"><a href="{% url 'blog' %}" class="btn btn-success w-100">Price $ 40000.0</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text"> Cadillac Eldorado</h3>
                        <p class="lorem_text">a classic American luxury car from the late 1950s. </p>
                     </div>
                     <div class="read_bt"><a href="{% url 'blog' %}">Read More<span class="arrow_icon"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_img"><img src="{% static 'images/img-5.png' %}"></div>
                     <div class="btn_main">
                        <div class="date_text active"><a href="{% url 'blog' %}">Price $ 40000.0</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text">BMW M4</h3>
                        <p class="lorem_text">The BMW M4 is the high-performance version of the BMW 4 Series, built by BMW's M division for sport driving and track performance.</p>
                     </div>
                     <div class="read_bt active"><a href="{% url 'contacts' %}">Select<span class="arrow_icon"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_img"><img src="{% static 'images/img-6.png' %}"></div>
                     <div class="btn_main">
                        <div class="date_text"><a href="#">Price $ 40000.0</a></div>
                     </div>
                     <div class="blog_box">
                        <h3 class="blog_text">Voluptate</h3>
                        <p class="lorem_text">Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                     </div>
                     <div class="read_bt"><a href="#">Read More<span class="arrow_icon"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="client_taital">What Says Our Students</h1>
                  <p class="client_text">It is a long established fact that a reader will be distracted by the readable c</p>
               </div>
            </div>
            <div class="customer_section_2">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="box_main">
                           <div class="customer_main">
                              <div class="customer_left">
                                 <div class="customer_img"><img src="{% static 'images/client-img.png' %}"></div>
                              </div>
                              <div class="customer_right">
                                 <h3 class="customer_name">DenoMark</h3>
                                 <p class="enim_text">anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                                 <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
        <!-- client section end -->
         {% endblock %}
      
