 {% extends 'base.html' %}
 {% load static %}
 {% block title %}Home{% endblock %}
   {% block content %}

      <!-- banner section start --> 
      <div class="banner_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6">
                  <div id="banner_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">New<br> Model Cars</h1>
                              <p class="banner_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt uolore magna aliqua. Ut enim ad minim veniam, quis non</p>
                              <div class="form-group">
                                 <input type="text" class="update_mail" placeholder="Search here" name="Search here">
                                 <div class="subscribe_bt"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                            8000  </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">New<br> Model Cars</h1>
                              <p class="banner_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt uolore magna aliqua. Ut enim ad minim veniam, quis non</p>
                              <div class="form-group">
                                 <input type="text" class="update_mail" placeholder="Search here" name="Search here">
                                 <div class="subscribe_bt"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">New<br> Model Cars</h1>
                              <p class="banner_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt uolore magna aliqua. Ut enim ad minim veniam, quis non</p>
                              <div class="form-group">
                                 <input type="text" class="update_mail" placeholder="Search here" name="Search here">
                                 <div class="subscribe_bt"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                     <i class="fa fa-angle-left"></i>
                     </a>
                     <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                     <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
               </div>8000
               <div class="col-md-6 padding_right0">
                  <div class="banner_img"><img src="{% static 'images/banner-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      
{% endblock %}